[Unit]
Description=Streamlit Daemon

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/ml-oceanids/bin
ExecStart=/home/ubuntu/mambaforge/envs/pandas/bin/streamlit run streamlit_app.py
Restart=always

[Install]
WantedBy=multi-user.target
